<div class="home-content ml-3">
  <div class="row top-home text-muted text-uppercase justify-content-between border-bottom">
    <div class="col-sm-9 border-right py-3">
      <h5 class="font-weight-bolder">Soccer Twitter</h5>
    </div>
    <div class=" col-sm-3 py-3 px-3">
      <h6 class=" font-weight-bold">Who To Follow</h6>
    </div>
  </div>

  <div class="main-home">
   
      <div class="row py-0 my-0">
        <div class="col-sm-9 border-right opinion-body">
          <div class="ml-5">
            <%= render "shared/errors", obj: @opinion %>
            
          </div>
          <div class="card">
        <div class="card-body mx-2 border-bottom">
          <%= form_for(@opinion) do |f| %>
              <p class="text-secondary">TWEET SOMETHING ...</p> 
              <div class="input-group"> 
                <%= f.text_field :text, autofocus: true, class: "form-control" %>
                <%= f.submit "Add Tweet", class:'btn-dark py-1' %>                 
              </div>
          <% end %>
        </div>
        <div class="card text-muted p-3 mt-3 mx-2 border-0">
          <h5 class="card-title py-2 font-weight-bold border-bottom">Soccer Tweets from <%= current_user.full_name %></h5>
          <% @opinions.each do |opinion| %>
              <div class="card border-0 mb-0">
                <div class="card-body d-flex align-items-center">
                  <div class="user-info">
                    <%= user_avatar(opinion.author.id) %>   
                  </div>
                  <div>
                    <span class="font-weight-bold"><%= current_user.full_name%></span><br>
                    <%= opinion.text%>
                    <small>
                      <%= time_ago_in_words(opinion.created_at)%> ago 
                    </small>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
        </div>
        <div class="col-sm-3 text-muted">
          <% @to_follow.each do |follow| %>
            <%= link_to profile_path(follow.username), :class => "text-decoration-none text-muted" do %>
              <div class="user-info p-3">
                <%= user_avatar(follow.id) %> 
                <span class="font-weight-bold"><%= follow.username%></span><br>
                <div class="border-bottom py-1">
                  <span>Followers: 0</span>
                  <span>Following: 0</span>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
</div>